<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JdbcTemplateの実験</title>
</head>
<body>
	<h1>JdbcTemplateの実験</h1>
	<hr>

	<h3>JdbcTemplate.query() + BeanPropertyRowMapper</h3>
	<a href="/books1">/books1</a>
	<hr>

	<h3>JdbcTemplate.queryForList()</h3>
	<a href="/books2">/books2</a>
	<hr>

	<h3>検索画面　JdbcTemplate.queryForList()</h3>
	<a href="/search">/search</a>
	<hr>

	<h3>JdbcTemplate.queryForObject（データベースの行数）</h3>
	<a href="/count">/count</a>
	<hr>

	<h3>登録画面</h3>
	<a href="/insert">/insert</a>
	<hr>




</body>
</html>